main {
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* Image Component - Call to action, Facebook, Github and Linkedin */
.social {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}

.social img {
    height: 70px;
}
/* Image Component - Call to action, Facebook, Github and Linkedin */

#facebook { /* Image Component - Call to action, Facebook */
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    top: 20%;
    background-image: url("./facebook.png");
    background-size: cover;
} /* Image Component - Call to action, Facebook */

#github { /* Image Component - Call to action, Guthub */
    grid-area: 1 / 3 / 2 / 4;
    position: relative;
    top: -10%;
    background-image: url("./github.png");
    background-size: cover;
} /* Image Component - Call to action, Github */

#linkedin { /* Image Component - Call to action, Linkedin */
    grid-area: 1 / 4 / 2 / 5;
    position: relative;
    top: 20%;
    background-image: url("./linkedin.png");
    background-size: cover;
} /* Image Component - Call to action, Linkedin */

header {
    grid-area: 2 / 1 / 3 / 6;
}

/* Text Component - Call to action, Resume and Email */
section { 
    grid-area: 3 / 2 / 4 / 5;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

#resume {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8cc;
    border: solid 1px #80808080;
    box-shadow: 3px 3px 5px;
    border-radius: 2px;
    color: black;
    font-size: 3.2vmin;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 1px #0a0a0a;
    font-family: 'Source Code Pro', 'Source Sans Pro', monospace;
}

section p {
    color: white;
    text-shadow: 0.5px 0.5px 1px #0a0a0a;
}

#email {
    color: white;
    text-shadow: 0.5px 0.5px 1px #0a0a0a;
}
/* Text Component - Call to action, Resume and Email */